<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="partials/header :: head"/>
<body>
<div th:replace="partials/navbar :: navbar"/>

<div class="container-fluid">
  <h1>Create New Post</h1>
  <form method="post" action="@{/posts/${id}/edit(id=${post.id})}" th:object="${post}">
    <div class="mb-3">
      <label for="newPostTitle" class="form-label">Title</label>
      <input type="text" class="form-control" name="newPostTitle" id="newPostTitle" th:field="*{title}" th:text="${post.title}">
    </div>
    <div class="mb-3">
      <label for="newPostBody" class="form-label">Body</label>
      <textarea class="form-control" name="newPostBody" id="newPostBody" th:field="*{body}" rows="5"></textarea>
    </div>
    <div class="mb-3">
      <label for="newPostCreatorId" class="form-label">Body</label>
      <textarea class="form-control" name="newPostCreatorId" id="newPostCreatorId" th:field="*{creator}" rows="1"></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </form>
</div>

<div th:replace="partials/footer :: footer"/>
</body>
</html>